.msg { padding: 10px; background: #222; position: relative; }
.msg h1 { color: #fff;  }
.msg a { margin-left: 20px; background: #408814; color: white; padding: 4px 8px; text-decoration: none; }
.msg a:hover { background: #266400; }

/* //-- yui-grids style overrides -- */
body { font-family: Georgia; color: #444; }
#inner { padding: 10px 80px; margin: 80px auto; background-image: linear-gradient(to right top, #312a2b, #562c31, #792931, #9a242b, #ba1e1e); border: solid #666; border-width: 8px 0 2px 0; }
.yui-gf { margin-bottom: 2em;  }
*{
	color: #fff;
}
/* //-- header, body, footer -- */
#hd { margin: 2.5em 0 3em 0; padding-bottom: 1.5em; border-bottom: 1px solid #ccc }
#hd h2 { text-transform: uppercase; letter-spacing: 2px; color: #fff; }
#bd, #ft { margin-bottom: 2em; }

/* //-- footer -- */
#ft { padding: 1em 0 5em 0; font-size: 92%; border-top: 1px solid #ccc; text-align: center; }
#ft p { margin-bottom: 0; text-align: center;   }

/* //-- core typography and style -- */
#hd h1 { font-size: 48px; text-transform: uppercase; letter-spacing: 3px; }
h2 { font-size: 152%; color: #fff;}
h3, h4 { font-size: 122%; color: #fff;}
h1, h2, h3, h4 { color: #333; color: #fff;}
p { font-size: 100%; line-height: 18px; padding-right: 3em; color: #fff; }
a { color: #990003;color: #fff; }
a:hover { text-decoration: none; }
strong { font-weight: bold; }
li { line-height: 24px; border-bottom: 1px solid #ccc; }
p.enlarge { font-size: 144%; padding-right: 6.5em; line-height: 24px; }
p.enlarge span { color: #000 }
.contact-info { margin-top: 7px; }
.first h2 { font-style: italic; }
.last { border-bottom: 0 }


/* //-- section styles -- */

a#pdf { display: block; float: left; background: #666; color: white; padding: 6px 50px 6px 12px; margin-bottom: 6px; text-decoration: none;  }
a#pdf:hover { background: #222; }

.job { position: relative; margin-bottom: 1em; }
.job h4 { position: absolute; top: 0.35em; right: 0 }
.job p { margin: 0.75em 0 3em 0; }

.last { border: none; }
.talent { width: 32%; float: left }

#srt-ttab { margin-bottom: 100px; text-align: center;  }
#srt-ttab img.last { margin-top: 20px }

/* --// override to force 1/8th width grids -- */
.yui-gf .yui-u{width:80.2%;}
.yui-gf div.first{width:12.3%;}
#btn{
  display: flex;
  justify-content: center;
  text-align: left;
  height: 10%;
  background-color: black;
}
.almacen_template{
	display: flex;
	justify-content: center;
	background-color: #565657;
}
.all_template{
	display: flex;
	justify-content: center;
	background-color: #C5C6C7;
}
#myimage{
	display: flex;
	justify-content: flex-start;
}
#img{
	width: 500px;
	justify-content: flex-end;
	margin-left: 10%;
}
#btn_pdf{
	display: flex;
	justify-content: flex-end;
}
#pdf{
	border-color: #fff;
	border-style: outset;
}
.title{
	color: #fff;
	font-style: oblique;
	font-size: 33px;
}
.skills{
	width: 40%;
}
.btn_template{
	display: flex;
	justify-content: flex-end;
	width: 40%;
}
.all_button{
	height: 80%;
	display: flex;
	justify-content: flex-end;
}
#btn{
  display: flex;
  justify-content: center;
  text-align: left;
  height: 10%;
}
#btn_next{
  background-color: black;
  height: 5%;
  width: 80%;
  border-color: transparent;
  color: #fff;
}
#btn_nexts{
  background-color: black;
  border-color: transparent;
  margin-top: 6%;
}
#pre_tem{
  background-color: black;
  border-color: transparent;
  color: #fff;
  margin-bottom: 15%;
  text-align: center;
  margin-top: 7%;
}
.all_but{
	display: flex;
}
#my_position{
	margin-top: 5%;
}
.position{
	color: #fff;
}
.progress{
	background-color: #fff;
}
#name{
	color: #fff;
	font-style: oblique;
}
#barras{
	color: black;

}